header {
  .header-content {
    @include dFlex(space-between, center);

    .logo {
      width: 100px;
      height: 50px;
    }

    .nav-links {
      @include dFlex(flex-start, center, 51px);

      .nav-list,
      .social-media {
        @include dFlex(flex-start, flex-start, 63px);
      }

      .list-item {
        a {
          color: $secondaryColor;
        }
      }

      p {
        color: $secondaryColor;
      }

      .social-media {
        column-gap: 20px;

        li {
          transition: 0.3s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    .menu-icon {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  header {
    .header-content {
      .nav-links {
        display: none;
      }

      .menu-icon {
        display: block;
      }
    }
  }
}
