main {
  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 58px;
      line-height: 70px;
      color: $primaryColor;
    }

    .img-wrapper {
      img {
        width: 500px;
        height: 400px;
      }
    }
  }
}
