@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

// Variables

// Colors
$primaryColor: #42446e;
$secondaryColor: #666666;
$textDark: #000;

// Font Sizes
$fontSizeSm: 14px;
$fontSizeNormal: 16px;
$fontSizeLg: 18px;
$fontSizeXL: 28px;

// Mixins
@mixin dFlex(
  $justifyContent: flex-start,
  $alignItems: flex-start,
  $columnGap: 0
) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  column-gap: $columnGap;
}
